name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

jobs:
  tests:
    name: PHP ${{ matrix.php }}, SF ${{ matrix.symfony }} - ${{ matrix.deps }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.0, 8.1]
        deps: [hightest]
        symfony: [5.4.*, 6.0.*]
        include:
          - php: 8.0
            deps: lowest
            symfony: '*'
          - php: 8.1
            deps: highest
            symfony: 6.1.*
    steps:
      - uses: zenstruck/.github@php-test-symfony
        with:
          php: ${{ matrix.php }}
          deps: ${{ matrix.deps }}
          symfony: ${{ matrix.symfony }}

  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: zenstruck/.github@php-coverage-codecov
        with:
          php: 8.1

  composer-validate:
    uses: zenstruck/.github/.github/workflows/php-composer-validate.yml@main

  cs-check:
    uses: zenstruck/.github/.github/workflows/php-cs-fixer.yml@main
    with:
      php: 8.0

  sca:
    uses: zenstruck/.github/.github/workflows/php-stan.yml@main
    with:
      php: 8.1
